<div class="container">
  <div class="row mt-3">
    <div class="col">
      <% if @bars.size.nonzero? %>
          <%= partial :bars, locals: {bars: @bars } %>
      <% else %>
        <p class="lead">
          There is nothing in progress
        </p>
      <% end %>
    </div>
  </div>
</div>
