<!DOCTYPE html>
<html>
  <head>
    <title>Bario Web</title>
    <meta charset="utf-8">
    <meta name="description" content="Bario web dashboard">
    <meta name="author" content="Jose Galisteo">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="<%=url_path 'static/bootstrap.min.css'%>" rel="stylesheet" type="text/css"/>
    <link href="<%=url_path 'static/style.css' %>" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="<% url_path "/" %>">Bario</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <div class="mr-auto"></div>

        <form action='<%= delete_all_path %>' method="post">
          <button type="submit" class="btn btn-danger btn-sm">Delete all</button>
        </form>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
